fastapi
uvicorn[standard]
httpx
requests
openai
pydantic
email-validator
python-multipart
psycopg[binary]
pandas
lxml
pdf2image
pymupdf
pillow
bs4
pypdf
pdfminer.six
google-generativeai
python-docx
psycopg2-binary
passlib[bcrypt]
