fastapi
uvicorn[standard]
httpx
requests
openai
pydantic
email-validator
python-multipart
psycopg[binary]
pandas
lxml
pdf2image
pymupdf
pillow
bs4
pypdf
pdfminer.six
google-generativeai
python-docx
passlib==1.7.4
bcrypt==3.2.0
openpyxl
python-jose[cryptography]
